/* Extra small devices */
@media screen and (max-width: 767px) {
	h1 {
		font-size: 60px;
		color: #000000;
	}
	header {
		display: none;
	}
}
/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 50px;
		color: #ffffff;
	}
	header {
		display: block;
	}
}
/* tablets/desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	h1 {
		font-size: 40px;
		color: #ffffff;
	}
	header {
		display: block;
	}
}
/* large desktops */
@media screen and (min-width: 1200px) {
	h1 {
		font-size: 30px;
		color: #ffffff;
	}
	header {
		display: block;
	}
}

header {
	-webkit-box-shadow: 0 4px 10px -5px rgba(0,0,0,1);
	-moz-box-shadow: 0 4px 10px -5px rgba(0,0,0,1);
	box-shadow: 0 4px 10px -5px rgba(0,0,0,1);
	max-height: 300px;
}

header > div > div > div > img {
	object-fit: cover;
	width: 100vw;
	height: 300px;
}

h1 {
	z-index: 100;
	color: #ffffff;
	position: absolute;
	top: 10px;
	left: 10px;
}

main {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main > form > div.log-form-text {
	padding: 5px;
	margin-bottom: 10px;
	background-color: #f2f2f2;
	border: solid gray 0.5px;
	border-radius: 2px;
}

main > form > input#main-btn {
	background-color: #5a7d71;
	border-color: #5a7d71;
}

footer {
	transition: all 0.5s ease;
	background-color: #5a7d71;

	-webkit-box-shadow: inset 0 4px 10px -5px rgba(0,0,0,1);
	-moz-box-shadow: inset 0 4px 10px -5px rgba(0,0,0,1);
	box-shadow: inset 0 4px 10px -5px rgba(0,0,0,1);
}

footer > p {
	color: #ffffff;
}
